/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
/* src/theme/variables.scss */
:root {
    /* Modo claro (Light Theme) */
    --ion-background-color: #ffffff;
    --ion-text-color: #000000;
}

@media (prefers-color-scheme: light) {
    :root {
        /* Modo escuro (Dark Theme) */
        --ion-background-color: #252424;
        --ion-text-color: #ffffff;
    }
}

body.dark {
    /* Forçar o modo escuro quando a classe 'dark' é adicionada */
    --ion-background-color: #252424;;
    --ion-text-color: #ffffff;
}

body {
    /* Definir cores usando variáveis CSS */
    background-color: var(--ion-background-color);
    color: var(--ion-text-color);
}