/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
/* src/theme/variables.scss */
:root {
    --ion-color-primary: #3880ff;
    --ion-background-color: #ffffff;
    --ion-text-color: #000000;
}

@media (prefers-color-scheme: light) {
    :root {
        --ion-background-color: #ffffff;
        --ion-text-color: #000000;
    }
}

